*{
	box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{

}




#back-body{
	background-image: url(../img/background_mb.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 2% 0%;
	height: 570px;
	position: relative;
}
#back-body div li{
	list-style: none;
  display: inline-block;
  font-size: 8px;
  padding-right: 4%;
  text-transform: uppercase;
}
#back-body div li a{
	color: #000000;
	border-bottom: 2px solid
}

#back-body .box-form{
	background-color: #ffffff;
	text-align: center;
	padding: 5% 6%;
  height: 190px;
  margin: 0% 5%;
  position: absolute;
  top: 208px;
}
#back-body .row-z{
	margin-right: 0px;
  margin-left: 0px;
}
#back-body .btn-br{
	background-color: #933589;
  color: #ffffff;
  font-weight: 600;
  margin-top: 5%;
}
#bars .bar1{
	background-color: #f8b033;
	display: block;
	float: right;
	width: 33.3%;
	height: 8px;
}
#bars .bar2{
	background-color: #e20520;
	display: block;
	float: right;
	width: 33.3%;	
	height: 8px;
}
#bars .bar3{
	background-color: #933589;
	display: block;
	float: right;
	width: 33.3%;	
	height: 8px;
}
.pad-0{
	padding: 0%;
}
.legal-title{
	padding: 5% 0%;
}
.fsize-18{
	font-size: 18px;
}
